<?xml version="1.0" encoding="utf-8"?>
<!-- Archivo: app/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Corte2Universidades"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MenuActivity" android:exported="false"/>
        <activity android:name=".activities.UniversidadesActivity" android:exported="false"/>
        <activity android:name=".activities.UniversidadFormActivity" android:exported="false"/>
        <activity android:name=".activities.CarrerasActivity" android:exported="false"/>
        <activity android:name=".activities.CarreraFormActivity" android:exported="false"/>
        <activity android:name=".activities.ReportesActivity" android:exported="false"/>

    </application>

</manifest>
